/* 第三小題 */
body {
    font-family: Arial, sans-serif;
    background-color: #F4F2F3;
}
  
h1 {
    text-align: center;
    color : #94A7AE;
}

.card-body{
    background-color: white;
    color : rgb(64, 64, 64);
}

p {
    color: #666;    
}

input {
    margin: 5px;
    padding: 5px;
}

button {
    padding: 10px;
    background-color: #94A7AE;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #64766A;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
  